<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper">
    <section id="no-more-tables" class="margintop20 middle-wrapper">
        <table infinite-scroll='loadMore()' class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th ng-repeat="item in headers" custom-sort order="{{item.orders}}" sort="sort">{{item.name}}</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-show="items.length === 0">
                    <td class="center" colspan="3">Nobody is here</td>
                </tr>

                <tr ng-repeat="item in items | limitTo:numberToDisplay | orderBy:sort.sortingOrder:sort.reverse track by $index">

                    <td><a ng-click="routing(item)" ui-sref="home.unitedCloudDevices.details">{{item.name}}</a></td>
                    <td>{{item.modal}}</td>
                    <td class="numeric "> {{item.type}}</td>
                    <td> {{item.manageStatus}}</td>


                    <td>
                        <div class="action-icons">
                            <a class="fa fa-external-link" href="https://{{item.name}}.uproxy.unitedlayer.com/" target="_blank"></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>