<!--Content Start-->

<!--Tabs Level 1 Start-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tabs-level1">
    <div class="ui-selectee">
        <nav class="column">
            <ul class="nav nav-tabs">
                <span class="ulheading">Activity Log</span>
            </ul>
        </nav>
    </div>
</div>

<!--Tabs Level 1 End-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row db-info shadow-btm"> </div>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper">
    <div class="row">
        <div class="date-wrapper">
            <span class="daterange">Select Date Range</span>
            <span><i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;</span>
            <span class="daterange"><input id="demo" date-range-picker name="daterange5" class="date-picker" type="text"
                       min="today" ng-model="date" options="options" required/>
                </span>
        </div>
    </div>