<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <span class="modal-title"> Create Instance</span>
</div>
<div class="modal-form">
    <form role="form">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label for="">Image Id</label>
                <form role="form">
                    <div>


                        <select name="speed" id="speed" ng-options="option.name for option in images track by option.id" ng-model="selectedImages">
                                           <option value="" disabled selected>Choose an Image</option>
                            </select>
                        <span class="select-arrow"></span>
                    </div>
                </form>
            </div>
            <div class="form-group">
                <label for="">Instance Type</label>
                <form role="form">
                    <div>
                        <select name="speed" id="speed" ng-options="option.name for option in instanceType track by option.id" ng-model="selectedInstance">
                                           <option value="" disabled selected>Select Instance Type</option>
                            </select>
                        <span class="select-arrow"></span>
                    </div>
                </form>
            </div>
            <div class="form-group">
                <label for="">Number of Instances</label><input required="required" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label for="">Availability Zone</label>
                <form role="form">
                    <div>
                        <select name="speed" id="speed" ng-options="option.name for option in availability track by option.id" ng-model="selectedAvailability">
                                           <option value="" disabled selected>Select Availability Zone</option>
                            </select>
                        <span class="select-arrow"></span>
                    </div>
                </form>
            </div>
            <div class="form-group">
                <label for="">Shutdown Behavior</label>
                <form role="form">
                    <div>
                        <select name="speed" id="speed" ng-options="option.name for option in shutdownBehavior track by option.id" ng-model="selectedshutdown">
                                           <option value="" disabled selected>Select Shutdown Behavior</option>
                            </select>
                        <span class="select-arrow"></span>
                    </div>
                </form>
            </div>

        </div>
    </form>
</div>
<div class="modal-footer modal-buttons">
    <button class="btn btn-cancel" ng-click="cancel()" type="button">Cancel</button>
    <button class="btn btn-default" ng-click="ok()" type="submit">Create</button>
</div>