<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper mytabsclass ui-tabs ui-corner-all ui-widget ui-widget-content">-->
<section id="no-more-tables" class="margintop20 middle-wrapper">
    <table infinite-scroll='loadMore()' class="table table-condensed table-hover">
        <thead>
            <tr>
                <th ng-repeat="item in headers" custom-sort order="{{item.orders}}" sort="sort">{{item.name}}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-show="items.length === 0">
                <td class="center" colspan="3">Nobody is here</td>
            </tr>

            <tr ng-repeat="item in items | limitTo:numberToDisplay | orderBy:sort.sortingOrder:sort.reverse track by $index">
                <td> {{item.name}} </td>
                <td>{{item.os}}</td>
                <td class="numeric "> {{item.hostName}}</td>
                <td> {{item.CPUCores}}</td>
                <td> {{item.vCPUs}}</td>
                <td> {{item.memory}}</td>
                <td> {{item.state}}</td>
                <td>
                    <div class="action-icons ">
                        <a class="fa fa-pencil" href="https://{{item.name}}.uproxy.unitedlayer.com/" target="_blank"></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<!--</div>-->