<!--Content Start-->

<!--Tabs Level 1 Start-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tabs-level1">
    <div class="ui-selectee">
        <nav class="column">
            <ul class="nav nav-tabs">
                <span class="ulheading">Maintenance Schedules</span>
            </ul>
        </nav>
    </div>
</div>

<!--Tabs Level 1 End-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row db-info shadow-btm"> </div>
</div>


<div class="row content-wrapper">
    <!--Left Table Start-->
    <div class="col-xs-9 col-sm-8 col-md-9 col-lg-9 paddingright">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper">
            <div class="col-xs-5 col-sm-5 col-md-4 col-lg-5">
                <!--<h1>Change Tickets</h1>-->
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="action-bar">
                    <button class="btn btn-default" type="button" ng-click="showMaintenanceModal()"> +Add</button>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-5 col-lg-4 search-widget">
                <form class="navbar-form">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter keyword">
                        <button class="btn btn-search" type="submit">
                            <i class="fa fa-search"></i>
                            </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Left Table End Graphs Start-->
</div>