<!--For private cloud vmware-->
<div cg-busy="{promise:myPromise,message:'Loading',backdrop:true ,delay:0,minDuration:50000}">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <section ng-if="name == 'vmware'" id="no-more-tables" class="margintop20 middle-wrapper">
            <table infinite-scroll='loadMore()' class="table  table-condensed table-hover">
                <thead>
                    <tr>
                        <th ng-repeat="item in headers" custom-sort order="{{item.orders}}" sort="sort">{{item.name}}</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="items.length === 0">
                        <td class="center" colspan="3">Nobody is here</td>
                    </tr>

                    <tr ng-repeat="item in items | limitTo:numberToDisplay | orderBy:sort.sortingOrder:sort.reverse track by $index">
                        <td>{{item.serverName}}</td>
                        <td>{{item.type}}</td>
                        <td class="numeric "> {{item.proxyServerName}}</td>

                        <td>
                            <div class="action-icons">
                                <a class="fa fa-external-link" href="https://{{item.name}}.uproxy.unitedlayer.com/" target="_blank"></a>
                                <a class="fa fa-external-link-square" href="https://{{item.name}}.uproxy.unitedlayer.com/"></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

<!--For private cloud openStack-->
<div ng-if="name == 'OpenStack'" class="content-wrapper">
    <p>
        <div class="alert alert-warning">
            No associated Hypervisors were found !!
        </div>
        <!--<div loader-css="ball-clip-rotate"></div>-->


    </p>
</div>

<!--For private cloud HyperV-->
<div ng-if="name == 'HyperV'" class="content-wrapper">
    <p>
        <div class="alert alert-warning">
            No associated Hypervisors were found !!
        </div>
</div>