<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row db-info shadow-btm"> </div>
</div>

<div class="row">
    <!--Tabs Level 1 End-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <h1>Azure Accounts</h1>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="action-bar">
                    <button class="btn btn-default" type="button" ng-click="azureAccountModal()"> + Add Account</button>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 search-widget pull-right">
                <form class="navbar-form">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter keyword">
                        <button class="btn btn-search" type="submit">
                            <i class="fa fa-search"></i>
                            </button>
                    </div>
                </form>
            </div>
        </div>
        <section id="no-more-tables" class="margintop20 middle-wrapper">
            <table id="example" class="example table table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th ng-repeat="item in headers">
                            {{item.name}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in azureAccounts">
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.subscriptionID }}
                        </td>
                        <td>
                            <div class="action-icons">
                                <a ng-click="AWSAccountsDetails(item,selectedRegion)" class="fa fa-users" tooltip-class="customClass" uib-tooltip="View Resource Group" ui-sref="home.unitedCloudPublic.azureDetails"></a>
                                <a class="fa fa fa-pencil" tooltip-class="customClass" ng-click="editModal()" uib-tooltip="Edit"></a>
                                <a class="fa fa fa-trash-o" tooltip-class="customClass" uib-tooltip="Delete" ng-click="deleteModal()()"></a>
                                <a class="fa fa-key" tooltip-class="customClass" uib-tooltip="Change password"></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>