<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row db-info shadow-btm"> </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tabstyles tabs-level2">
            <div id="tabs-ui-171882" class="mytabsclass ui-tabs ui-corner-all ui-widget ui-widget-content">
                <uib-tabset>
                    <uib-tab active="activeTabIndex" ng-repeat="tab in tabs" heading="{{tab.name}}" ui-sref="{{tab.route}}"></uib-tab>
                </uib-tabset>
                <div class="bg-color" ui-view></div>
            </div>
        </div>
    </div>
</div>